.THIS .autobot {
    background-color: black;
    background-image: url(/resource/autobot);
    background-position: center center;
    background-repeat: no-repeat;
}

.THIS .decepticon {
    background-color: black;
    background-image: url(/resource/Decepticon);
    background-position: center center;
    background-repeat: no-repeat;
}

.THIS .figleaf {
    background-color: white;
    border: 1px solid black;
    background-image: url(/resource/figleaf);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}