.THIS {
    margin: auto; 
    text-align: center;
}

.THIS .panicbutton {
    width: 256px;
    height: 256px;
    background: url('/resource/PanicButtonAssets/PanicButton/button-sprite.png');
}

.THIS .panicbutton:hover  {
    background-position:0 -256px;
}
.THIS .panicbutton:active {
    background-position:0 -512px;
}

@keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
}

.THIS .message {
    text-align: center;
    text-decoration: blink;
    animation-name: blinker;
    animation-duration: 0.6s;
    animation-iteration-count:infinite;
    animation-timing-function:ease-in-out;
    animation-direction: alternate;
    
}